# ignore files
Objects/*.ini
Objects/*.log
Objects/*.jar
Objects/*.db*
Objects/keystore*
Objects/help.html
Objects/ide_state.json
Objects/Pakai-Tabler.json

# ignore ALL files in these directories
AutoBackups
Objects/b4xlibs
Objects/bin
Objects/logs
Objects/shell
Objects/src